@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
    font-size: 62.5%;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.mobileNavMenu {
    background: linear-gradient(
        180deg,
        rgba(45, 49, 77, 0.9),
        rgba(255, 255, 255, 0.9)
    );
    opacity: 0;
    z-index: -1;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.showMobileNav {
    opacity: 1;
    z-index: 9;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.intro__text button,
.navbar button {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.intro__text button:hover,
.navbar button:hover {
    filter: brightness(1.3);
    -webkit-filter: brightness(1.3);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        background: black;
    }
}
